  <h4>Año</h4>
  <mat-form-field appearance="fill">
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let year of years" [value]="year.value">
        {{year.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
  <highcharts-chart 
  [Highcharts]=Highcharts
  [options]=chartOptions
  style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
  
  <p>
      Este grafico tipo sunburst muestra información sobre las temperaturas por año, según region
  </p>