<mat-drawer-container style="height: 100%;">


    <mat-drawer mode=side opened style="width: 70%;">
      <div>
        <h4>Año</h4>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let year of years" [value]="year.value">
              {{year.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        choropleth map
      </div>
      

    </mat-drawer>

    <mat-drawer-content>
        <div>
            description
        </div>

        <div>
            bar charts
        </div>
        
    </mat-drawer-content>

</mat-drawer-container>