p {
  font-size: 1.5vw; /* 14px/16=0.875em */
}

mat-select {
    padding-top: 0px;
    padding-right:0px;
}

#side-text {
  padding-top: 40%;
  padding-right:10%;
  padding-left: 10%;
  letter-spacing: 1px;
}