<mat-drawer-container style="height: 600px;">
  <div>
    <div class="div-inline">
      <h4>Region</h4>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="region">
          <mat-option *ngFor="let r of regions" [value]="r.value">
            {{r.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="div-inline">
      <h4>Año</h4>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="country">
          <mat-option *ngFor="let c of countries" [value]="c.value">
            {{c.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div>
    <highcharts-chart [Highcharts]=Highcharts [options]=chartOptions style="width: 100%; height: 400px; display:contents">
    </highcharts-chart>
  </div>
  <div style="width: 90%;">
    <p>Este gráfico de lineas muestra el cambio de temperatura a lo
      largo del tiempo para los países de un continente
    </p>
  </div>

</mat-drawer-container>